
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div style="padding: 50px; text-align: center;">
    <h1>Generator</h1>

    <!--<script src="js/scripts.js"></script>-->
    <p>Name: <b>{{ generator.name }}</b></p>
    <p>Results per generator: <b>{{ generator.results_per_generator }}</b></p>
    <p>
      Related Divisors:
      {% for divisor in generator.divisor_set.all %}
        <b>{{ divisor }}</b>,
      {% endfor %}
    </p>
    <p>
      Related Strings:
      {% for string in generator.string_set.all %}
        <b>{{ string }}</b>,
      {% endfor %}
    </p>

    {% if errors %}
        <p style="color: red;">{{ errors }}</p>
    {% endif %}
  </div>
</body>
</html>
